.btn_primary{
    background: rgb(104, 104, 207);
    color: #fff;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.btn_danger{
    background: rgb(207, 104, 104);
    color: #fff;
    height: 30px;
    border-radius: 5px;
    border: none;
}